<div class="callout large secondary">
    <div class="row">
      <div class="large-4 columns">
        <h4>Advanced programming final project</h4>
        <p>This is the final project for the subject advanced programming with 
            Mr. Sebastian Zapata in 2022-1 semester.
        </p>
      </div>
      <div class="large-3 columns">
        <ul class="menu vertical">
          <li><b>Integrants:</b></li>
          <li>Hua Jie Zhen Ma</li>
          <li>Andres Rodriguez</li>
          <li>Christian Arevalo</li>
        </ul>
      </div>
    </div>
    <div class="row text-center">&copy;ZAC (Zhen Ma, Andres, Christian)</div>
</div>
